<%- include('partials/header') %>


  <header class="masthead d-flex align-items-center" style="background-image: url('bgp1.png'); background-size:cover;  background-repeat: no-repeat;">
      <div class="container px-4 px-lg-5 text-center">
          <h1 class="mb-1 text-white">Have a secret to share?</h1><br><br>
          <h1 class="mb-1 text-danger">Feeling anxious?</h1><br><br>
          <h2 class="mb-1 text-warning">Write and browse anonymously!</h2><br><br><br><br><br>
          <h3 class="mb-5 text-success">Join Konffess now!</h3>
          <a class="btn btn-light btn-lg" href="/register" role="button">Register</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-dark btn-lg ms-4" href="/login" role="button">Login  </a>
      </div>
  </header>

<%- include('partials/footer') %>